EMAIL_HOST_USER="your email"
EMAIL_HOST_PASSWORD="your host password"
STRIPE_SECRET_KEY=dummy-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=dummy-stripe-publish-key
SECRET_KEY=dummy-key
POSTGRES_NAME=dummy-name
POSTGRES_USER=dummy-user
POSTGRES_PASSWORD=dummy-password
POSTGRES_HOST=dummy-host
POSTGRES_PORT=dummy-port
POSTGRES_HOST_AUTH_METHOD=md5
CELERY_BROKER_URL=your url
CELERY_RESULT_BACKEND=your url
